<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful</title>
</head>
<body>
    <th:block>
        <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
            <div class="row text-center shadow-lg">
                <!-- Text Column -->
                <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <div class="card p-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8a8 8 0 1 0-16 0 8 8 0 0 0 16 0zm-4.97-3.03a.75.75 0 0 1 1.08 1.04l-4.5 5.5a.75.75 0 0 1-1.08 0l-2.5-2.5a.75.75 0 0 1 1.08-1.04L7 9.292l4.03-4.32z"/>
                                </svg>
                            </div>
                            <h1 class="card-title">Payment Successful!</h1>
                            <p class="card-text mb-4">Thank you for your purchase. Your payment has been processed successfully.</p>
                            <a th:href="@{/}" class="btn btn-primary">Go to Homepage</a>
                            <a th:href="@{/user/myorders}" class="btn btn-secondary">View Your Orders</a>
                        </div>
                    </div>
                </div>
                <!-- Image Column -->
                <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <img class="img-fluid" height="400" alt="Order Confirmed" src="/img/images/Order_confirmed.png">
                </div>
            </div>
        </div>
    </th:block>

</body>
</html>
