<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Forgot Password</title>

<link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>

	<section>
		<th:block th:if="${session.successMsg}">
			<div
				class="alert alert-success alert-dismissible fade show z-3 position-absolute mt-2 ms-2"
				role="alert">
				<strong>[[${session.successMsg}]]</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>
			<th th:text="${@commonServiceImpl.removeSessionMessage()}"></th>
		</th:block>
		<th:block th:if="${session.errorMsg}">
			<div
				class="alert alert-danger alert-dismissible fade show z-3 position-absolute mt-2 ms-2"
				role="alert">
				<strong>[[${session.errorMsg}]]</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>
			<th th:text="${@commonServiceImpl.removeSessionMessage()}"></th>
		</th:block>

		<div class="bg-warning bg-opacity-10 p-4 container-fluid">
			<div
				th:class="'container col-10 col-md-6 col-lg-3 p-4 mt-3 mb-2 rounded-3 ' +
            (${session.errorMsg} ? 'card border border-danger' : 'card')">

				<h2 class="text-center">Forgot Password</h2>

				<form action="/forgot-password" method="post">
					<!-- Email input -->
					<div data-mdb-input-init class="form-outline mb-4">
						<input type="email" name="email" id="form2Example1"
							class="form-control" required /> <label class="form-label"
							for="form2Example1">Email address</label>
					</div>

					<!-- Submit button -->
					<button data-mdb-ripple-init type="submit"
						class="btn btn-success btn-block mb-4">Send Password
						Reset Link</button>

					<!-- Login link -->
					<div class="text-center">
						<p>
							Remembered your password? <a href="/signin" class="text-danger">Login</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</section>

</body>
</html>
