<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Reset Password</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>

<section>
    <div th:if="${param.error}">
        <div class="alert alert-danger alert-dismissible fade show z-3 position-absolute card ms-4 mt-2" role="alert">
            <strong>[[${session.error}]]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div th:if="${param.success}">
        <div class="alert alert-success alert-dismissible fade show z-3 position-absolute card ms-4 mt-2" role="alert">
            <strong>Password reset successfully!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div class="bg-warning bg-opacity-10 p-4 container-fluid">
        <div th:class="'container col-10 col-md-6 col-lg-3 p-4 mt-3 mb-2 rounded-3 ' +
            (${param.error} ? 'card border border-danger' : 'card')">

            <h2 class="text-center">Reset Your Password</h2>

            <form action="/reset-password" method="post">
                <!-- Hidden token input -->
                <input type="hidden" name="token" th:value="${token}" />

                <!-- New Password input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" name="password" id="newPassword"
                           class="form-control" required /> 
                    <label class="form-label" for="newPassword">New Password</label>
                </div>

                <!-- Confirm Password input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password"  id="confirmPassword"
                           class="form-control" required /> 
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                </div>

                <!-- Submit button -->
                <button data-mdb-ripple-init type="submit" class="btn btn-success btn-block mb-4">Reset Password</button>

                <!-- Link to login page -->
                <div class="text-center">
                    <p>Remembered your password? <a href="/signin" class="text-danger">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</section>

</body>
</html>
